html {
  background-color: #e6f3fc; }

.chatbox {
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11); }

.container {
  width: 23%;
  padding: 10px; }

.header {
  background-color: #2994fb;
  width: 100%;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box; }
  .header__status {
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-right: 8px;
    background-color: #69f0ae; }
    .header__status_online {
      display: flex; }
    .header__status_offline {
      display: none; }
  .header__friend-name {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 13px; }
  .header__options, .header__friend-info {
    display: flex;
    align-items: center; }
  .header__option {
    margin-left: 10px; }

.chat {
  height: 300px;
  overflow: auto;
  font-family: 'Open Sans', sans-serif; }
  .chat__message {
    display: block;
    padding: 7px 12px;
    font-size: 13px;
    max-width: 65%; }
  .chat__messages {
    padding: 8px 15px; }
    .chat__messages:after {
      content: "";
      display: table;
      clear: both; }
    .chat__messages_friend {
      position: relative; }
      .chat__messages_friend .chat__message {
        margin: 1px 0 1px 35px;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
        background-color: #f4f3f3;
        color: #353535;
        float: left;
        clear: left; }
        .chat__messages_friend .chat__message:first-of-type {
          border-top-left-radius: 12px; }
        .chat__messages_friend .chat__message:last-of-type {
          border-bottom-left-radius: 12px; }
        .chat__messages_friend .chat__message:only-of-type {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px; }
    .chat__messages_user .chat__message {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      background-color: #2994fb;
      color: white;
      float: right;
      clear: right;
      margin: 1px 0; }
      .chat__messages_user .chat__message:first-of-type {
        border-top-right-radius: 12px; }
      .chat__messages_user .chat__message:last-of-type {
        border-bottom-right-radius: 12px; }
      .chat__messages_user .chat__message:only-of-type {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px; }
  .chat__friend-img {
    width: 28px;
    border-radius: 100%;
    position: absolute;
    left: 15px;
    top: 10px; }
  .chat__time {
    color: #828282;
    font-size: 10px;
    font-weight: bold;
    display: block;
    text-align: center;
    font-family: 'Open Sans', sans-serif; }

.create-message {
  border-top: 1px solid #e5e5e5; }
  .create-message__input {
    width: 100%;
    border: none;
    padding: 10px 15px;
    box-sizing: border-box;
    overflow: hidden;
    resize: none; }
    .create-message__input:focus {
      outline: none; }
  .create-message__input-options {
    padding: 0 15px 10px; }
  .create-message__input-option {
    margin-right: 5px; }

/*# sourceMappingURL=Index.css.map */
