.header {
  background-color: #2994fb;
  width: 100%;
  padding: 8px 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  &__status {
    height: 6px;
    width: 6px;
    border-radius: 100%;
    margin-right: 8px;
    background-color: #69f0ae;
    &_online {
      display: flex;
    }
    &_offline {
      display: none;
    }
  }
  &__friend-name {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 13px;
  }
  &__options, &__friend-info {
    display: flex;
    align-items: center;
  }
  &__option {
    margin-left: 10px;
  }
}
